/appresources.WHHE2W
/bindings/JSCore-3.0.metadata
/bindings/Soup-2.4.metadata
/bindings/WebKit-3.0.metadata
/build/CMakeCache.txt
/build/CMakeFiles/CMakeCCompiler.cmake
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeCXXCompiler.cmake
/build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/CMakeSystem.cmake
/build/CMakeFiles/CompilerIdC/a.out
/build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/CompilerIdCXX/a.out
/build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/Makefile2
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/cmake_install.cmake
/build/Makefile
/build/src/CMakeFiles/CMakeDirectoryInformation.cmake
/build/src/CMakeFiles/progress.marks
/build/src/CMakeFiles/write.dir/build.make
/build/src/CMakeFiles/write.dir/C.includecache
/build/src/CMakeFiles/write.dir/cmake_clean.cmake
/build/src/CMakeFiles/write.dir/DependInfo.cmake
/build/src/CMakeFiles/write.dir/depend.internal
/build/src/CMakeFiles/write.dir/depend.make
/build/src/CMakeFiles/write.dir/flags.make
/build/src/CMakeFiles/write.dir/link.txt
/build/src/CMakeFiles/write.dir/main.c.o
/build/src/CMakeFiles/write.dir/progress.make
/build/src/CMakeFiles/write.dir/UI/ContextToolbar.c.o
/build/src/CMakeFiles/write.dir/UI/DocumentToolbar.c.o
/build/src/CMakeFiles/write.dir/UI/DocumentView.c.o
/build/src/CMakeFiles/write.dir/Widgets/MultiModeButton.c.o
/build/src/CMakeFiles/write.dir/Widgets/Toolbar.c.o
/build/src/CMakeFiles/write.dir/Window.c.o
/build/src/cmake_install.cmake
/build/src/main.c
/build/src/Makefile
/build/src/UI/ContextToolbar.c
/build/src/UI/DocumentToolbar.c
/build/src/UI/DocumentView.c
/build/src/Widgets/MultiModeButton.c
/build/src/Widgets/Toolbar.c
/build/src/Window.c
/cmake/FindVala.cmake
/cmake/GSettings.cmake
/cmake/.GSettings.cmake.swp
/cmake/Makefile
/cmake/ParseArguments.cmake
/cmake/README
/cmake/.README.swp
/cmake/README.Vala.rst
/cmake/Translations.cmake
/cmake/.Translations.cmake.swp
/cmake/ValaPrecompile.cmake
/cmake/ValaVersion.cmake
/src/CMakeLists.txt~
/src/Process.vala~
/src/UI/ContextToolbar.vala~
/src/UI/DocumentToolbar.vala~
/src/UI/DocumentView.vala~
/src/Window.vala~
/write
/appresources
/README.md~
/resources/app.css~
/resources/document.css~
/src/Widgets/ComboMenu.vala~
/build/src/CMakeFiles/write.dir/Widgets/ComboMenu.c.o
/build/src/Widgets/ComboMenu.c
/build/src/CMakeFiles/write.dir/Core/PageFormat.c.o
/build/src/CMakeFiles/write.dir/Core/TextStyle.c.o
/build/src/Core/PageFormat.c
/build/src/Core/TextStyle.c
/resources/text-styles/elementary.css~
