/* Format Name: Letter */
/* Description: Default letter sizing */
.page 
{ 
	width: 8.50in;
	height: 11in;
	max-height: 11in;
	border: 1px solid #C6C6C6;
	border-collapse: collapse;
	box-shadow: 0px 6px 4px 3px #DDD;
}

.page .header > div, .page .body > div, .page .footer > div { padding: 0 0.75in; }
.page .header > div, .page .footer > div { min-height: 0.75in; height: 0.75in; }
.page .header > div:focus { border-bottom: 1px dashed; }
.page .footer > div:focus { border-top: 1px dashed; }
.page .body > div { height: 100%; }